:root {
    --p-color: #05a0d4;
    --s-color: #31e9b5;;
    --highlight-p: #2F6690;
    --highlight-s: #B26E63;
    --accent-p: #AED9E0;
    --accent-s: #B8F2E6;
    --shadow-color-p: #defbff;
    --bgc-p: #e7f9fb;
    --bgc-s: #dafff4;
    --bgc-light: #fcffff ;
    --text-color-dark: #1c1c1c;
    --text-color-light: #f9fafc;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bgc-light);
    height: 100vh;
    width: 100vw;
}
.form-helper-text{
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    font-size: 1.2;
    color: red;
}
.form-helper-text.show{
    opacity: 1;
}
a{
    text-decoration: none;
}
.btn-outline-large, .btn-outline-medium, .btn-outline-small{
    --main-color: var(--p-color);
    outline: solid 2px var(--main-color);
    color:  var(--main-color);
    border-width: 0px;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    transform: scale(0.99);
    transition: all 180ms ease-in-out;
}
.btn-outline-medium{
    max-width: 15rem;
    font-size: 1.25rem;
    padding: 0.45rem;
}
.btn-outline-large:hover, .btn-outline-medium:hover, .btn-outline-small:hover{
    --main-color: var(--highlight-s);
    cursor: pointer;
    transform: scale(1);
}
.btn-outline-large{
    max-width: 15rem;
    font-size: 2.25rem;
    padding: 0.75rem;
}
.btn-compact-large, .btn-compact-medium, .btn-compact-small{
    outline: solid 2px var(--p-color);
    color:  var(--p-color);
    border-width: 0px;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
}
.btn-compact-large:hover, .btn-compact-medium:hover, .btn-compact-small:hover{
    background-color: var(--p-color);
    color:  var(--text-color-light);
    cursor: pointer;
}
.btn-compact-large{
    max-width: 15rem;
    font-size: 2.25rem;
    padding: 0.75rem;
}
.btn-compact-medium{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.box-shadow{
    box-shadow: 1px 0px 7px -1px var(--text-color-dark);
    transition: box-shadow 250ms ease-in-out;
}
.box-shadow:hover{
    box-shadow: 1px 0px 11px -1px var(--text-color-dark);
    
}
.title{
    font-size: 4.5rem;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px) rotate(5deg);
    }

    100% {
        transform: translate(0, -0px) rotate(-0deg);
    }
}