.nutrition-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 10rem 0rem 10rem;
}
.add-nutrition-button{
    padding: 3rem;
}
.nutrition-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.nutrition-card-content{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: clip;
    color: var(--text-color-dark);
}

.nutrition-card-category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--highlight-s);
}

.nutrition-card-category h3 {
    margin: 0;
    font-size: 1.5rem;
}

.nutrition-card-details {
    padding-left: 2rem;
}

.nutrition-card-details-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nutrition-card-details-header h3{
    font-size: 3rem;
    margin: 0;
    margin: 0.5rem;
}

.nutrition-card-details-summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}
.nutrition-card-details-summary p{
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 0rem;
    border-bottom: 1px dashed var(--highlight-s);
}
.card-timestamp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-timestamp p{
    margin: 0;
    margin-bottom: 1.75rem;
}
