.activity-feed-header {
    padding: 5rem 0rem 1rem 5rem;
    background-color: var(--bgc-s);
    border-radius: 5rem
}
.activity-feed-header:hover{
    cursor: default;
}
.activity-feed-container h2{
    font-size: 2.5rem;
    margin-left: 2rem;
    /* margin: 0; */
}
.activity-dashboard-container{
    padding: 1rem 4rem 4rem 4rem;
}
.activity-summary-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}